Repository Unibeautify/website, pull requests merged in 2018-06, with the labels that each got.

#89 Migrate to use ugly-samples instead of self-hosted examples
  examples/CSS/indent_size.txt
  examples/CSS/newline_between_rules.txt
  examples/CSS/no_leading_zero.txt
  examples/HTML/brace_style.txt
  examples/HTML/indent_char.txt
  examples/HTML/indent_inner_html.txt
  examples/HTML/indent_scripts.txt
  examples/HTML/indent_size.txt
  examples/HTML/indent_style.txt
  examples/HTML/max_preserve_newlines.txt
  examples/HTML/newline_before_tags.txt
  examples/HTML/unformatted.txt
  examples/JSON/indent_size.txt
  examples/Java/indent_size.txt
  examples/JavaScript/align_assignments.txt
  examples/JavaScript/arrow_parens.txt
  examples/JavaScript/break_chained_methods.txt
  examples/JavaScript/comma_first.txt
  examples/JavaScript/end_with_comma.txt
  examples/JavaScript/end_with_newline.txt
  examples/JavaScript/end_with_semicolon.txt
  examples/JavaScript/indent_char.txt
  examples/JavaScript/indent_comments.txt
  examples/JavaScript/indent_size.txt
  examples/JavaScript/indent_style.txt
  examples/JavaScript/indent_with_tabs.txt
  examples/JavaScript/jslint_happy.txt
  examples/JavaScript/jsx_brackets.txt
  examples/JavaScript/keep_array_indentation.txt
  examples/JavaScript/multiline_ternary.txt
  examples/JavaScript/object_curly_spacing.txt
  examples/JavaScript/pragma_insert.txt
  examples/JavaScript/quotes.txt
  examples/JavaScript/space_after_anon_function.txt
  examples/JavaScript/space_in_paren.txt
  examples/JavaScript/unindent_chained_methods.txt
  examples/Markdown/wrap_prose.txt
  examples/TypeScript/quotes.txt
  examples/TypeScript/wrap_line_length.txt
  examples/Vue/indent_size.txt
  examples/XML/indent_size.txt
  package-lock.json
  package.json
  scripts/generate-docs/OptionsDoc.ts
  website/package-lock.json
Labels: add example, enhancement

#93 Add info about the assistant
  docs/config-file.md
Labels: enhancement, in progress

#102 Add PHP_CodeSniffer
  package-lock.json
  package.json
  scripts/generate-docs/beautifiers.ts
  website/i18n/en.json
  website/package-lock.json
  website/sidebars.json
Labels: add beautifier

#104 Removed localhost:3000
  docs/options-for-beautifiers.md
Labels: bug

#109 Add Black beautifier
  .dockerignore
  .node-version
  .nvmrc
  .travis.yml
  Dockerfile
  README.md
  docker-compose.yml
  package-lock.json
  package.json
  runtime.txt
  scripts/generate-docs/BeautifierDoc.ts
  scripts/generate-docs/OptionsDoc.ts
  scripts/generate-docs/beautifiers.ts
  scripts/generate-docs/index.ts
  scripts/netlify.sh
  website/data/languages.yml
  website/i18n/en.json
  website/package-lock.json
  website/sidebars.json
  yarn.lock
Labels: add beautifier, enhancement
